
# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
expo-debug.log

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android
android/
*.keystore
*.jks

# iOS
ios/
*.xcworkspace
*.xcodeproj
*.pbxproj
*.xcuserstate

# Env files
.env
.env.*

# VS Code
.vscode/

# TypeScript
*.tsbuildinfo

# Build outputs
build/
dist/

# Coverage
coverage/
.nyc_output/

# Metro cache
metro-cache/

# Web build (caso use Expo para Web)
web-build/
